html,
#root,
body,
#app,
#app>div {
  height: 100%
}

ul {
  list-style-type: none; /* Remove bullets */
  margin-bottom: 0px;
}

#root {
  width: 100%;
  background-color: var(--body_background);
}

.Home {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.View {
  height: 100%;
  display: flex;
  flex-direction: row;
}

.DataView {
  height: 100%;
  width: 100%;
}

.GcSideBar {
  height: 80%;
  width: 50px;
}

/* Source browser */
.source-browser {
  color:var(--text_color);
  background-color: var(--body_background-editor);
  height: 100%;
}

.PanelGroup {
  height: 100%;
}

.TabPane {
  display: none;
  height: 100%;
}

.TabPaneActive {
  display: flex;
}

.TabBar {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
}

.TabContainer {
  height: 100%;
}

.TabItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  height:35px;
  padding: 3px 12px;
  color: var(--text_color);
  background-color: var(--disabled);
  border: solid 1px black;
}

.TabItemActive {
  padding: 1px 12px 3px 12px;
  color: var(--text_color);
  background-color: var(--body_background-editor) !important;
  border-top: solid 3px #6d126d;
  border-bottom: 0px;
}

.TabContent {
  height: 100%;
  background-color: red;
}

.TabPane {
  height: 100%;
}

.tab-content {
  height: 90%;
}

.handle {
  width: 8px;
}

.file-item {
  width: 600px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 1.5rem;
  gap: 1ch;
  white-space: pre;
}

.file-item-child {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  line-height: 1.5rem;
  gap: 1ch;
  white-space: pre;
}

.file-item-text {
  line-height: 1rem;
}

.file-item-selected {
  background-color: var(--body_background);
}

.file-item:hover {
  background-color: var(--body_background);
}


.trash-icon {
  display: none;
}

.file-item-selected:hover .trash-icon {
  display: none !important;
}


.file-item:hover .trash-icon {
  display: block;
  color: rgb(127, 127, 127)
}


.folder-item {
  box-sizing: border-box;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  height: 1.5rem;
  gap: 1ch;
  padding-left: 1ch;
}

.file-icon {
  color:#dcadff;
}

.file-expander {
  max-width: none;
  width: 1ch;
  height: 1ch;
  color: white;
}

.panel {
  height: 100% !important;
}

.nav-link.active {
  background-color: #1e1e1e !important;
  border-radius: 0px;
}

.nav-link {
  background-color: var(--body_background-secondary) !important;
  border-radius: 0px !important;
  outline: 1px solid black;
  color: white !important ;
}

.sidebar {
  width: 50px;
}

.nav-side{
  background-color: var(--body_background) !important;
  outline: 0px;
}

.nav-side.active{
  background-color:var(--body_background) !important;
}

.x {
  height: 100%;
}

.nav-brand {
  color: white;
  font-weight:500;
}

.form-control {
  background-color: var(--body_background-secondary);
  border-color: rgb(93, 112, 117);
  color: white;
}
.form-control:focus {
  background-color: rgb(49, 49, 65);
  color: white;
}
.form-control::placeholder{
  color: white;
}

.input-group-text{
  background-color: rgb(62, 10, 62);
  color: white;
  border-color: rgb(93, 112, 117);
}

.fontwhite {
  color: white;
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--body_background);
  border: 3px solid var(--body_background);
  /* border-width: 3px; */
  border-radius: 0px; 
  height: 50px;
  width: 50px;
}

.btn-primary:hover {
  background-color: rgb(62, 10, 62);
  border-color:  rgb(62, 10, 62);
}

.btn:disabled {
  color: rgb(94, 94, 94);
  background-color: var(--body_background);
  border: 3px solid var(--body_background);
}

.btn-add-file {
  width: 35px;
  height: 35px;
}

.container {
  padding: 0px;
}

.btn-active {
  border-left: 3px solid rgb(200, 200, 200);
  box-sizing:border-box;
}


div.buttonPadding {
  padding-left: 5;
  padding-right: 5;
}

div.noMargin {
  margin-left: 0;
  margin-right: 0;
}

