html,
#root,
body,
#app,
#app>div {
  height: 100%
}

.App {
  text-align: center;

}

.folder {
  background-color: rgb(5, 19, 32);
  /* background-color: rgb(144, 167, 189); */
  height: 100%;
  padding: 10px;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.handle {
  background-color: #282c34;
  width: 8px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Source browser */
.source-browser {
  background-color: #192230;
  height: 100%;
  font-size: 1rem;
  overflow: hidden;
}
.file-item {
  padding-left: 3ch;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 1.5rem;
  gap: 1ch;
}

.file-item-selected {
  padding-left: 3ch;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 1.5rem;
  gap: 1ch;
  background-color: #2a3343;
}

.file-item:hover {
  background-color:#2a3343;
}

.folder-item {
  box-sizing: border-box;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  height: 1.5rem;
  gap: 1ch;
  padding-left: 1ch;
}

.file-icon {
  color:#dcadff;
  width: 1.5ch !important;
  height: 1.5ch;
}

.file-expander {
  max-width: none;
  width: 1ch;
  height: 1ch;
  color: white;
}

.file-name {
  color:white;
}

/* Tabs */
.tab-item {
  margin: 4px 4px;
}

.tab-item-span {
  display: flex;
  align-items: center;
  padding: 0px !important;
}

.panel {
  height: 100% !important;
}

.nav-link.active {
  background-color: #1e1e1e !important;
  border-radius: 0px;
}

.nav-link {
  background-color: #1d2738 !important;
  border-radius: 0px !important;
  outline: 1px solid black;
  color: white !important ;
}

.sidebar {
  width: 50px;
}

.nav-side{
  background-color: #2a3343 !important;
  outline: 0px;
}

.nav-side.active{
  background-color: #2a3343 !important;
}

.x {
  height: 100%;
  background-color: #2a3343;
}