html,
#root,
body,
#app,
#app>div {
  height: 100%
}

#root {
  background-color: var(--body_background);
}

.App {
  text-align: center;

}

.folder {
  background-color: rgb(5, 19, 32);
  /* background-color: rgb(144, 167, 189); */
  height: 100%;
  padding: 10px;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.handle {
  width: 8px;
}

.App-header {
  background-color:  var(--body_background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Source browser */
.source-browser {
  background-color: var(--body_background-secondary);
  height: 100%;
  font-size: 1rem;
  overflow: hidden;
}
.file-item {
  padding-left: 3ch;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 1.5rem;
  gap: 1ch;
}

.file-item-selected {
  padding-left: 3ch;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 1.5rem;
  gap: 1ch;
  background-color: var(--body_background);
}

.file-item:hover {
  background-color: var(--body_background)3;
}

.folder-item {
  box-sizing: border-box;
  line-height: 1.5rem;
  display: flex;
  align-items: center;
  height: 1.5rem;
  gap: 1ch;
  padding-left: 1ch;
}

.file-icon {
  color:#dcadff;
  width: 1.5ch !important;
  height: 1.5ch;
}

.file-expander {
  max-width: none;
  width: 1ch;
  height: 1ch;
  color: white;
}

.file-name {
  color:white;
}

/* Tabs */
.tab-item {
  margin: 4px 4px;
}

.tab-item-span {
  display: flex;
  align-items: center;
  padding: 0px !important;
}

.panel {
  height: 100% !important;
}

.nav-link.active {
  background-color: #1e1e1e !important;
  border-radius: 0px;
}

.nav-link {
  background-color: var(--body_background-secondary) !important;
  border-radius: 0px !important;
  outline: 1px solid black;
  color: white !important ;
}

.sidebar {
  width: 50px;
}

.nav-side{
  background-color: var(--body_background) !important;
  outline: 0px;
}

.nav-side.active{
  background-color:var(--body_background) !important;
}

.x {
  height: 100%;
}

.nav-brand {
  color: white;
  font-weight:500;
}

.form-control {
  background-color: var(--body_background-secondary);
  border-color: rgb(93, 112, 117);
  color: white;
}
.form-control:focus {
  background-color: rgb(49, 49, 65);
  color: white;
}

.input-group-text{
  background-color: rgb(62, 10, 62);
  color: white;
  border-color: rgb(93, 112, 117);
}